<div class="row">
<div class="col-md-6 mx-auto">
<div class="card card-body">
  <h3 class="center">Login page</h3>
<form action="/users/login" method="post">
    
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" name="email" value="rodriguesnavil1@gmail.com" required>
    </div>
    
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" value="123456">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>